<%- include('partials/header') -%>
<div class="container">
  <a href="/admin" class="col-3 btn btn-primary">Go back</a>
  <h2>Admin Staff Menu</h2>
  <div>
    <h3>New staff account</h3>
    <div class="row justify-content-center">
      <section class="col-6 mt-5">
          <% if (locals.messages.errors) { %>
              <% messages.errors.forEach( el => { %>
                  <div class="alert alert-danger"><%= el.msg %></div>
              <% }) %>    
          <% } %>
          <% if (locals.messages.info) { %>
              <% messages.info.forEach( el => { %>
                  <div class="alert alert-info"><%= el.msg %></div>
              <% }) %>    
          <% } %>
          <form action="/admin/createStaff" method="POST">
              <div class="mb-3">
                  <label for="userName" class="form-label">User Name</label>
                  <input type="text" class="form-control" id="userName" name="userName">
                </div>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password">
              </div>
              <div class="mb-3">
                  <label for="confirmPassword" class="form-label">Confirm Password</label>
                  <input type="password" class="form-control" id="confirmPassword" name="confirmPassword">
                </div>

                <label for="category-select">Choose a category:</label>

                <select name="category" id="category-select">
                <option value="">--Please choose an option--</option>
                <option value="cleaning">Cleaning</option>
                <option value="electrician">Electrician</option>
                <option value="handyman">Handyman</option>
                <option value="plumber">Plumber</option>
                  </select>
            
   
      
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
      </section>
  </div>

  <div class="row mt-5">
    <h3>Staff List</h3>
    <ul class="list-unstyled">
      <% for(var i=0; i<staff.length; i++) {%>
     <li class="col-6 justify-content-between mt-5">
      <%= staff[i].userName%>
     </li>
   <% } %>

    </ul>
    <div class="col-6"></div>
  </div>
 
</div>

<%- include('partials/footer') -%>
