<%- include('partials/header') -%>
<div class="container">
  <div class="row">
      <div class="col-10">
        <a href="/admin/staff" class="col-3 btn btn-primary">Staff menu</a>
        <a href="/admin" class="col-3 btn btn-primary">Tasks not completed </a>
          <div>
            <h1>admin profile</h1>
              <p><strong>User Name</strong>: <%= user.userName %></p>
              <p><strong>Email</strong>: <%= user.email %></p>
              <a href="/logout" class="col-3 btn btn-primary">Logout</a>
          </div>

      </div>
 
    </div>

    <h2 class="text-primary mt-4">TASKS DONE</h2>
    <div class="col-6">


      <!-- Loop going through tasks collection-->
      <ul class="row list-unstyled">
        <% for(task of tasks) {%>
  
          <!-- li with task info -->
          <li class="col-6 justify-content-between">
            <div class="card">
              <div class="card-body">
                <p class="card-title  text-center"> Title: <%=task.title%></p>
                <p class="card-text"> Description: <%=task.description%></p>
                <p class="card-text"> Done date: <%=task.doneDate%></p>

                <% for(member of staff) {%>
                    <% if(task.completedBy == member.id) {%>
                        <p class="card-text"> Completed by: <%=member.userName%></p>
                    <% } %>
                <% } %>

              </div> <!-- End of div card-body -->
            </div> <!-- End of div card -->
          </li>
        <% } %> <!-- End of task of tasks loop -->

        </ul> 
    </div> <!-- End of col-6 -->
  </div> <!-- End of container class -->
  
<%- include('partials/footer') -%>