<%- include('partials/header') -%> <%- include('partials/adminNavbar') -%>
    <main class="container mx-auto">
      <div class="flex flex-row flex-wrap items-center justify-around bg-lighter p-6">
        <div class="overflow-auto lg:overflow-visible">
          <div class="text-center">
            <h3 class="font-medium text-3xl text-medium">Staff List</h3>
          </div>

          <!-- start of table -->
          <table class="table text-gray-400 border-separate space-y-6">
            <thead class="bg-darkest text-lighter">
              <tr>
                <th class="p-3">Name</th>
                <th class="p-3 text-left">Role</th>
                <th class="p-3 text-left">Status</th>
              </tr>
            </thead>
            <tbody>
              <% for(member of staff) {%>
                <tr class="bg-medium">
                  <td class="p-3">
                    <div class="flex align-items-center">
                      <div class="ml-3">
                        <div class="text-white">
                          <%=member.userName%>
                        </div>
                        <div class="text-black">
                          <%=member.email%>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="p-3">
                    <%=member.category%>
                  </td>

                  <% if(member.active) { %>
                    <td class="p-3">
                      <span class="bg-green-400 text-gray-50 rounded-md px-2">
                        Active
                      </span>
                    </td>
                    <% }else {%>
                      <td class="p-3">
                        <span class="bg-red-400 text-gray-50 rounded-md px-2">
                          Inactive
                        </span>
                      </td>
                      <% } %>
                </tr>
                <% } %>
            </tbody>
          </table>

          <!-- end of table -->
        </div>

        <div class="p-8 rounded border border-light shadow-sm mt-5">
          <h1 class="font-medium text-3xl text-medium">Create new Staff</h1>

          <form action="/admin/createStaff" method="POST">
            <div class="mt-8 grid lg:grid-cols-2 gap-4">
              <div>
                <label for="userName" class="text-sm text-dark block mb-1 font-medium">User Name</label>
                <input type="text" name="userName" id="userName"
                  class="bg-gray-100 border border-gray-200 rounded py-1 px-3 block focus:ring-blue-500 focus:border-blue-500 text-gray-700 w-full"
                  placeholder="Enter your name" />
              </div>
              <div>
                <label for="exampleInputEmail1" class="text-sm text-dark block mb-1 font-medium">Email Adress</label>
                <input type="email" name="email" aria-describedby="emailHelp" id="exampleInputEmail1"
                  class="bg-gray-100 border border-gray-200 rounded py-1 px-3 block focus:ring-blue-500 focus:border-blue-500 text-gray-700 w-full"
                  placeholder="yourmail@provider.com" />
              </div>

              <div>
                <label for="password" class="text-sm text-dark block mb-1 font-medium">Password</label>
                <input type="password" name="password" id="password"
                  class="bg-gray-100 border border-gray-200 rounded py-1 px-3 block focus:ring-blue-500 focus:border-blue-500 text-gray-700 w-full"
                  placeholder="(ex. developer)" />
              </div>
              <div>
                <label for="confirmPassword" class="text-sm text-dark block mb-1 font-medium">Confirm Password</label>
                <input type="password" name="confirmPassword" id="confirmPassword"
                  class="bg-gray-100 border border-gray-200 rounded py-1 px-3 block focus:ring-blue-500 focus:border-blue-500 text-gray-700 w-full"
                  placeholder="(ex. developer)" />
              </div>
              <div class="text-light">
                <label class="text-sm text-dark block mb-1 font-medium" for="category-select">Choose a category:</label>

                <select name="category" id="category-select">
                  <option class="text-dark" value="">--Please choose an option--</option>
                  <option class="text-dark" value="cleaning">Cleaning</option>
                  <option class="text-dark" value="electrician">Electrician</option>
                  <option class="text-dark" value="handyman">Handyman</option>
                  <option class="text-dark" value="plumber">Plumber</option>
                </select>
              </div>
            </div>
            <div class="space-x-4 mt-8">
              <button type="submit"
                class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
                Save
              </button>
            </div>
          </form>
          <!-- end of from -->

        </div>
      </div>
    </main>

    <%- include('partials/footer') -%>