<%- include('partials/header') -%>
<div class="container">
  <a href="/staff/" class="col-3 btn btn-primary">Back</a>
    <div class="row justify-content-center mt-5">
      
        <ul class="row list-unstyled">
            <li>Title: <%= task.title %></li>
            <li>Description: <%= task.description %></li>
            <li>Location: <%= task.location %></li>
            <li>Assingned date: <%= task.assignedDate %></li>
            <li>Importance: <%= task.importance %></li>
        </ul>
        <% if (!task.completed){ %>
        <form class="col-1" action="/staff/task/markComplete/<%=task._id %>?_method=PUT" method="POST">
          <button class="btn btn-primary" type="submit">Done</button>
        </form>
        <% } %>
    </div>
  </div>  
<%- include('partials/footer') -%>